.pokemons__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gap__page {
    gap: 0.5em;
}
.gap__page li {
    cursor: pointer;
    padding: 0.5em;
    color: white;
    background-color: rgb(156, 39, 39);
     &:hover {
        filter: brightness(2);
     }
}
.gap__page .active__page {
    background-color: blueviolet;
}
/*.btn {
    box-shadow: 0em 0em 0.1em;
    margin: 0.1em;
    transition: transform(1) 0.5s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0em 0em 0.2em;
        transform: scale(1.05);
    }
    &:active {
        box-shadow: 0em 0em 0.1em;
        transform: scale(1);
    }

}*/