.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    margin-bottom: 1em;
    margin-left: 4em;
}
.nav__pagin {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nav__form {
    margin-left: 3em;
}
.nav__label {

}
.nav__input {
    width: 5em;
}
.btn {
    box-shadow: 0em 0em 0.1em;
    margin: 0.1em;
    transition: transform(1) 0.5s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0em 0em 0.2em;
        transform: scale(1.05);
    }
    &:active {
        box-shadow: 0em 0em 0.1em;
        transform: scale(1);
    }

}
.numbers-pages{
    font-size: 1.3em;
    width: 1.3em;
    text-align: center;
}