.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    margin-bottom: 1em;
    margin-left: 4em;
}
.nav__pagin {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nav__form {
    margin-left: 3em;
}
.nav__label {

}
.nav__input {
    width: 5em;
}




.pokemons__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gap__page {
    gap: 0.5em;
}
.gap__page li {
    cursor: pointer;
    padding: 0.5em;
    color: white;
    background-color: rgb(156, 39, 39);
     &:hover {
        filter: brightness(2);
     }
}
.gap__page .active__page {
    background-color: rgb(94, 97, 91);
}
.gap__page .inactive {
   display: none;
}